<h1> <%= @job.title %> </h1>
  <p>
    <%= simple_format(@job.description) %>
    <%= @job.wage_lower_bound %>
    <br>
    <%= @job.wage_upper_bound %>
    <br>
    <%= @job.contact_mail %>
  </p>
  <div class="text-center">
    <%= link_to("提交履历", new_job_resume_path(@job), :style => "font-size: 30px; text-decoration:underline;") %>
  </div>
