<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">锦绣前程</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
          <li>
            <% if !current_user %>
              <li><a href="/jobs">找工作</a></li>
              <li><a href="/admin/jobs">聘人才</a></li>
              <li> <%= link_to("注册", new_user_registration_path) %> </li>
              <li> <%= link_to("登入", new_user_session_path) %> </li>
            <% else %>
              <li class="dropdown">
                <a href="#", class="dropdown-toggle" data-toggle="dropdown">
                  Hi!, <%= current_user.email %>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <% if current_user.is_admin? %>
                  <li> <%= link_to("Admin Panel", admin_jobs_path) %> </li>
                  <% end %>
                  <li> <%= link_to("登出", destroy_user_session_path, method: :delete) %> </li>
                </ul>
              </li>
              <li> <%= link_to("发布职位", new_admin_job_path) %> </li>
            <% end %>
          </li>
        </ul>
  </div>
</nav>
